.meishi {
    background-image: url('image/meishi.png');
}

.hotel {
    background-image: url('image/hotel.png');
}

.huoguo {
    background-image: url('image/huoguo.png');
}

.ktv {
    background-image: url('image/ktv.png');
}

.lifa {
    background-image: url('image/lifa.png');
}

.movie {
    background-image: url('image/movie.png');
}

.xiuxuanyule {
    background-image: url('image/xiuxianyule.png');
}

.waimai {
    background-image: url('image/waimai.png');
}

.lxyz {
    background-image: url('image/lxyz.jpg');
}

.changguan {
    background-image: url('image/changguan.png');
}

.chengji {
    background-image: url('image/chengji.png');
}

.dayin {
    background-image: url('image/dayin.png');
}

.kuaidi {
    background-image: url('image/kuaidi.png');
}

.liuliang {
    background-image: url('image/liuliang.png');
}

.gfwb {
    background-image: url('image/gfwb.jpg');
}

.runcheck {
    background-image: url('image/runcheck.png');
}

.hangpai {
    background-image: url('image/hangpai.jpg');
}

.yikatong {
    background-image: url('image/yikatong.png');
}

.zhengjian {
    background-image: url('image/zhengjian.png');
}

.wangfei {
    background-image: url('image/wangfei.png');
}