<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medical.mapper.UserMapper">
    <resultMap id="UserInfoResult" type="com.medical.pojo.User" >
        <id column="id" property="id"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="status" column="status"/>
        <result property="mobile" column="mobile"/>
    </resultMap>
    <insert id="addUser" parameterType="com.medical.pojo.User">
        insert into `user` (id,name, password, status, mobile) value (#{id},#{name},#{password},#{status},#{mobile})
    </insert>
    <insert id="addDoctor" parameterType="com.medical.pojo.Doctor">
        insert into `doctor` (id,name, password, status, mobile, photo) value (#{id},#{name},#{password},#{status},#{mobile},#{photo})
    </insert>
    <select id="userLogin" parameterType="com.medical.pojo.User" resultType="com.medical.pojo.User">
        select * from `user` where name = #{name}
    </select>
    <select id="doctorLogin" parameterType="com.medical.pojo.Doctor" resultType="com.medical.pojo.Doctor">
        select * from `doctor` where name = #{name}
    </select>
    <select id="adminLogin" parameterType="com.medical.pojo.Admin" resultType="com.medical.pojo.Admin">
        select * from `admin` where name = #{name}
    </select>
    <select id="getUserById" resultType="com.medical.pojo.User">
        select * from `user` where id = #{userId}
    </select>
    <select id="getDoctorById" resultType="com.medical.pojo.Doctor">
        select * from `doctor` where id = #{doctorId}
    </select>
</mapper>